@use "global" as *;

.blog {
  @include mq("md") {
    position: relative;
    padding-top: myrem(95);
  }
}

.blog__inner {
  max-width: myrem(600);
  @include mq("md") {
    position: relative;
  }
}

.blog__inner::before {
  @include mq("md") {
    content: "";
    display: block;
    background: url(../images/common/blog-bg_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: myrem(376.51);
    height: myrem(120.76);
    top: myrem(-75);
    left: calc(50% - min(48.5vw, myrem(621)));
    z-index: 1;
  }
}

.blog::before {
  @include mq("md") {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/common/blog-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60.86847%;
    width: 100%;
    z-index: -1;
    top: 0;
  }
}

.blog__items {
  margin-top: myrem(28);
  @include mq("md") {
    margin-top: myrem(80);
  }
}

.blog__button {
  text-align: center;
  margin-top: myrem(41);
  @include mq("md") {
    margin-top: myrem(80);
  }
}
