@use "global" as *;

.campaign-swiper__inner {
  position: relative;
}

.campaign-swiper__wrapper {
  padding-bottom: rem(10);
}

.campaign-swiper__controller {
  position: absolute;
  top: 0;
  right: 0;
}

.campaign .swiper-button-next ,
.campaign .swiper-button-prev {
  width: rem(80);
  height: rem(80);
  transition: transform .3s;
  top: rem(30);
}

.campaign .swiper-button-next {
  right: 0;
}

.campaign .swiper-button-prev {
  left: rem(-240);
}

.campaign .swiper-button-next:hover,
.campaign .swiper-button-prev:hover {
  transform: scale(1.07);
}