@use "global" as *;

.campaign-swiper__wrapper {
  padding-bottom: rem(10);
}

.campaign-swiper__controller {
  display: flex;
  position: absolute;
  bottom: rem(-12);
  right: 0;
  gap: rem(80);
}

.campaign .swiper-button-next,
.campaign .swiper-button-prev {
  width: rem(80);
  height: rem(80);
  position: static;
  transition: transform .3s;
}

.campaign .swiper-button-next:hover,
.campaign .swiper-button-prev:hover {
  transform: scale(1.07);
}