@use "global" as *;
.campaign {
  overflow: hidden;
}

.campaign__inner {
  max-width: myrem(600);
  position: relative;
}

.campaign__controller {
  position: absolute;
  top: 0;
  right: 0;
}

.campaign__prev,
.campaign__next {
  width: myrem(80);
  height: myrem(80);
  transition: transform 0.3s;
  top: myrem(30);
}

.campaign__next {
  right: 0;
}

.campaign__prev {
  left: myrem(-240);
}

.campaign__next:hover,
.campaign__prev:hover {
  transform: scale(1.07);
}

/* 元の矢印を消す、画像に変更 */
.campaign__prev::after,
.campaign__next::after {
  display: none;
}

.campaign__swiper {
  margin-right: calc(50% - 50vw);
  margin-top: myrem(28);
  @include mq("md") {
    margin-top: myrem(40);
  }
}

.campaign__cards {
  padding-bottom: myrem(10);
}

.campaign__card {
  max-width: myrem(280);
  @include mq("md") {
    max-width: myrem(333);
  }
}

.campaign__button {
  margin-top: myrem(30);
  text-align: center;
  @include mq("md") {
    margin-top: myrem(70);
    padding-bottom: myrem(5);
  }
}
