@use "global" as *;

.information {
  background-color: $background-blue;
}

.information__inner {
  max-width: rem(600);
}

.information__media {
  margin-top: rem(28);
  @include mq('md') {
    margin-top: rem(35);
  }
}

.information__button {
  text-align: center;
  margin-top: rem(43);
}


