@use "global" as *;

.information {
  background-color: $background-blue;
}

.information__inner {
  padding: rem(80) 0;
  max-width: rem(600);
  @include mq('md') {
  padding: rem(99) 0;
  }
}

.information__media {
  margin-top: rem(28);
  @include mq('md') {
    margin-top: rem(35);
  }
}



