@use "global" as *;

.mv {
  position: relative;
  height: 100vh;
}

.mv::after {
  content: "";
  display: block;
  background-color: white;
  position: fixed;
  height: 100%;
  width: 50%;
  top: 0; /* 初期位置を上に設定 */
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 200;
  animation: curtainOpen 3s forwards;
  animation-delay: 3s; /*遅延時間(遅延時間)*/
}

@keyframes curtainOpen{
  0%{
    height: 100%; /*閉じている状態*/
  }
  100%{
    height: 0; /*開く*/
    visibility: hidden; /*非表示に*/
  }
}
.mv::before {
  content: "";
  display: block;
  background-color: white;
  position: fixed;
  height: 100%;
  width: 51%;
  top: 0; /* 初期位置を上に設定 */
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 200;
  animation: curtainOpen 3s forwards;
  animation-delay: 2.9s; /*遅延時間(遅延時間)*/
}

.mv__inner {
  height: 100%;
}

.mv__header {
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  left: 50%;
  color: $white;
  text-align: center;
  z-index: 2;
  @include mq('md') {
  top: 47%;
  }
}

.mv__title {
  font-size: rem(40);
  font-weight: $regular;
  font-family: $lato-font-family;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.54em;
  text-indent: 0.54em;
  @include mq('md') {
  font-size: rem(80);
  }
}

.mv__subtitle{
  font-size: rem(20);
  font-weight: $regular;
  font-family: $english-font-family;
}

.mv-swiper {
  width: 100%;
  height: 100%;
}


.mv__img img {
  filter: none;
  height: 100%;
  object-fit: cover;
}


.mv__loading-header {
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  left: 50%;
  color: $accent-color;
  text-align: center;
  z-index: 300;
  @include mq('md') {
  top: 47%;
  }
}

.mv__loading-title {
  font-size: rem(40);
  font-weight: $regular;
  font-family: $lato-font-family;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.54em;
  text-indent: 0.54em;
  @include mq('md') {
  font-size: rem(80);
  }
}

.mv__loading-subtitle {
  font-size: rem(20);
  font-weight: $regular;
  font-family: $english-font-family;
}



