@use "global" as *;

.price {
  background-color: $background-blue;
  padding-top: myrem(80);
  padding-bottom: myrem(80);
  @include mq("md") {
    padding-top: myrem(100);
    padding-bottom: myrem(100);
  }
}

.price__inner {
  max-width: myrem(600);
  @include mq("md") {
    position: relative;
  }
}

.price__inner::before {
  @include mq("md") {
    content: "";
    display: block;
    background: url(../images/common/price-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: myrem(437);
    height: myrem(201);
    bottom: myrem(-40);
    left: calc(50% - min(48.5vw, 39rem));
    z-index: 1;
  }
}

.price__container {
  margin-top: myrem(28);
  @include mq("md") {
    margin-top: myrem(40);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.price__img img {
  aspect-ratio: 345/227;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 492/746;
  }
}

.price__img {
  @include mq("md") {
    width: 45.5555%;
  }
}

.price__lists {
  margin-top: myrem(42);
  @include mq("md") {
    width: 45.5555%;
    margin-top: 0;
  }
}

.price__list + .price__list {
  margin-top: myrem(40);
}

.price__title {
  font-size: myrem(16);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: 1.5;
  position: relative;
}

.price__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: $accent-color;
  bottom: myrem(-4);
}

.price__menu {
  margin-top: myrem(9);
  display: grid;
  grid-template-columns: 80% 20%;
  row-gap: myrem(10);
  font-size: myrem(14);
  font-family: $base-font-family;
  line-height: 1.71;
  font-weight: $regular;
  @include mq("md") {
    font-size: myrem(16);
    line-height: 1.5;
    row-gap: myrem(5);
  }
}

.price__price {
  font-size: myrem(14);
  font-weight: $regular;
  line-height: 1.714;
  font-family: $base-font-family;
  margin-left: myrem(10);
  text-align: right;
  @include mq("md") {
    font-size: myrem(16);
  }
}

.price__button {
  text-align: center;
  margin-top: myrem(42);
  @include mq("md") {
    margin-top: myrem(80);
  }
}
