@use "global" as *;

.sns__facebook {
  width: myrem(24);
  transition: opacity 0.3s;
  @include mq("md") {
    width: myrem(32);
  }
}

.sns__instagram {
  width: myrem(24);
  transition: opacity 0.3s;
  @include mq("md") {
    width: myrem(32);
  }
}

.sns__facebook:hover,
.sns__instagram:hover {
  opacity: 0.7;
}
