@use "global" as *;

.sub-mv {
  position: relative;
  height: rem(460);
  @include mq('md') {
  height: rem(548);
  }
}

.sub-mv__header {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  color: $white;
  text-align: center;
  z-index: 2;
  @include mq('md') {
  top: 60%;
  }
}

.sub-mv__title {
  font-size: rem(40);
  font-weight: $regular;
  font-family: $lato-font-family;
  line-height: 1.25;
  @include mq('md') {
  font-size: rem(80);
  }
}

.sub-mv__title::first-letter {
  text-transform: uppercase;
}

.sub-mv__img {
  height: inherit;
  position: relative;
}

.sub-mv__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(64, 143, 149, 0.30);
  width: 100%;
  height: inherit;
}

.sub-mv__img img {
  filter: none;
  height: 100%;
  object-fit: cover;
}