@use "global" as *;

.voice__inner {
  max-width: myrem(600);
  @include mq("md") {
    position: relative;
  }
}

.voice__inner::before {
  @include mq("md") {
    content: "";
    display: block;
    background: url(../images/common/voice-bg_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: myrem(301);
    height: myrem(138);
    top: -18%;
    left: calc(50% - min(48.5vw, myrem(621)));
    z-index: 1;
  }
}
.voice__inner::after {
  @include mq("md") {
    content: "";
    display: block;
    background: url(../images/common/voice-bg_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: myrem(71);
    height: myrem(162);
    bottom: myrem(-71);
    right: myrem(25);
    z-index: 1;
  }
}

.voice__items {
  margin-top: myrem(43);
  @include mq("md") {
    margin-top: myrem(27);
  }
}

.voice__button {
  text-align: center;
  margin-top: myrem(40);
  @include mq("md") {
    margin-top: myrem(80);
  }
}
